@charset "utf-8";

* {
	padding:0 ;
	margin:0 ;
	color: #006000;
}

body {
	background-image: url("../img/canvlong-02.gif");
	background-repeat: repeat-y;
	background-attachment: fixed;
}

img {
	border-style: none;
}

#usagi {
	margin-top: 148px;
}

#main {
	width: 800px;
//	margin: 0 auto;
	position:absolute;
	margin: 5px 0px 20px 150px;
}

#nav{
	margin: 0;
	padding: 0;
	width: 225px;
	float: left;
	background-color: #bbff80;
	min-height: 600px;
	max-height: 900px;
	text-align: center;
}

#nav ul{
	margin-top: -1px;
	display: block;
	list-style-type: none;
}

#nav ul ul {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
}

#nav li {
	float: left;
	background-color: #bbff80;
}

#nav li li {
	clear: both;
}

#nav li:hover {
	position: relative;
}

#nav li:hover > ul {
	display: block;
}


#nav ul li a{
	text-decoration: none;
	display: block;
	color: #00802a;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	line-height: 27px;
	width: 225px;
}

#nav ul li a:hover {
	color: #ffffff;
	background-image: url("../img/focus.png");
	background-color: #00802a;
	width: 225px;
}

.rental #rental a,
.return #return a,
.renting #renting a,
.book #book,
.bookInput #book,
.bookInput #bookInput a,
.bookChange #book,
.bookChange #bookChange a,
.bookDelete #book,
.bookDelete #bookDelete a,
.category #category,
.categoryInput #category,
.categoryInput #categoryInput a,
.categoryChange #category,
.categoryChange #categoryChange a,
.categoryList #category,
.categoryList #categoryList a,
.textUpdate #textUpdate a,
.requestList #requestList a {
	color: #ffffff;
	background-image: url("../img/focusf.png");
	background-color: #00802a;
	width: 225px;
}


#comment{
	height: 35px;
	width: 225px;
	background-image: url("../img/comment.png");
	padding-top: 15px;
}

#article{
	margin: 0;
	padding: 0;
	min-height: 600px;
	width: 575px;
	float: right;
	background-color: #d4ff80;
	background-image: url("../img/nijimaru2_f07.gif");
	background-repeat:repeat-x;
	background-position:bottom;
}

#articlelong{
	margin: 0;
	padding: 0;
	min-height: 641px;
	width: 575px;
	float: right;
	background-color: #d4ff80;
	background-image: url("../img/nijimaru2_f07.gif");
	background-repeat:repeat-x;
	background-position:bottom;
}

.box{
	background-color: #f6ffc0;
	width: 520px;
	margin: 7px 0px 5px 20px;
	padding: 0px 0px 10px 5px;
}

.box h1{
	color: #ffffff;
	background-color: #228022;
	background-image: url("../img/h1.png");
	font-size: 20px;
	font-weight;
	padding: 7px 0px 7px 5px;
	margin-left: -5px;
}

.box p{
	margin-top: 5px;
	padding-right: 7px;
}

.box ul li{
	margin: 2px 0px 2px 20px;
}

table {
	boder-style: none;
	width: 400px;
}

th {
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #228022;
	color: #ffffff;
}

td {
	background-color: #f6ffc0;
	padding-top: 2px;
	padding-bottom: 2px;
}

#search {
	margin-left: 7px;
	width: 500px;
	background-color: #ccff55;
}

#search td {
	background-color: #ffffff;
}

#title {
	width: 220px;
}

#acthor {
	width: 100px;
}

#year {
	width: 50px;
}

#input {
	width: 500px;
}

#input th {
	width: 80px;
}

#data {
	width: 160px;
}

#indispensable {
	width: 50px;
}

#red, .red {
//	color: #ffffff;
//	background-color: #ff3333;
	background-color: #ffcccc;
	color: #ee0000;
	padding: 1px 3px 1px 3px;
}

input {
	color: #000000;
}

#button, .button {
	padding: 1px 3px 1px 3px;
	margin-right: auto;
	margin-left: auto;
}

#footer {
	clear: both;
	color: #ffffff;
	background-color: #448044;
	padding: 2px 0px 2px 2px;
}

#no {
	width: 30px;
}
